{%extends "index.html"%}

{%block title%}Кошки: Продукты{%endblock%}

{%block context%}

<div class="left-ads-display col-lg-9">
	<div class="row">

{% for food in foods_list %}
<div class="col-md-4 product-men">
	<div class="product-shoe-info editContent text-center mt-lg-4" >
		<div class="men-thumb-item">
			<img src="{{ food.poster.url }}">
	    </div>
	    <div class="item-info-product">
	    	<h4 class="">
	    		<a class="editContent" >{{ food.tagtitle }}</a>
	        </h4>
	        <div class="product_price">
	        	<div class="grid-price">
	        		<span class="money editContent" >{{ food.description }}</span>
	            </div>
	        </div>
	        <div class="d-flex justify-content-between align-items-center p-2">
	        	<div class="btn-group">
	        		<button type="button" class="btn btn-sm btn-outline-secondary">В Корзину</button>
				</div>
				<small class="text-muted">{{ food.price }} тенге</small>
			</div>
	    </div>
	</div>
</div>

{% endfor %}
	</div>
</div>
{%endblock%}